body {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRVT-c8ldyE4ImRHWukzQGjlTwSxY6phPPAtQr6jgdNqBLI2a3W9Q");
  background-repeat: no-repeat;
  background-size: cover;
}

//
